:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
}

.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.17;
}

.nav-list {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.17;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.contact {
  color: #757575;
}

.nav-link.contact:hover,
.nav-link.contact:focus {
  color: var(--accent-color);
}

.hero-title {
  font-family: roboto, sans-serif;
  font-weight: 900;
  color: var(--hero-text-color);
  background-color: grey;
  width: 500px;
  font-size: 44px;
  line-height: 1.36;
}

.btn {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #FFFFFF;
}
