:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
  --primary-font-weight: 700;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
}

.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  color: var(--accent-color);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.nav-list {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link.contact {
  color: #757575;
}

.nav-link.contact:hover,
.nav-link.contact:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  color: var(--hero-text-color);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.features-list {
  list-style-type: none;
}

.features-title {
  font-weight: var(--primary-font-weight);
  line-height: 1.17;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.features-text {
  color: var(--text-color);
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.examples-title {
  font-weight: var(--primary-font-weight);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.examples-list {
  list-style-type: none;
}

.team-title {
  font-weight: var(--primary-font-weight);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list {
  list-style-type: none;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-text {
  font-size: 16px;
  line-height: 1.17;
  color: var(--text-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--hero-text-color);
  font-style: normal;
  letter-spacing: 0.03em;
}

.footer-list {
  list-style-type: none;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
